{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}


{% block searchBox %}
<form class="d-flex flex-row" method="POST">
    {% csrf_token %}
    <input class="form-control me-2" placeholder="Поиск записи" name="searchText">
    <button class="btn btn-success me-2">Поиск</button>
</form>
{% endblock %}


{% block content %}
{% if db %}
    <h1 class="display-3 mt-4 offset-lg-3">Блог</h1>
    {% for el in db %}
        <div class="card col-lg-6 offset-lg-3 mt-3">
            <div class="card-body">
            <h5 class="card-title">{{ el.title }}</h5>
            {% if el.editDate %}
                <p class="card-date blockquote-footer mt-3">{{ el.date }} (изменено {{ el.editDate }})</p>
            {% else %}
                <p class="card-date blockquote-footer mt-3">{{ el.date }}</p>
            {% endif %}
            <p class="card-text">{{ el.text }}</p>
            <a href="post{{ el.id }}" class="btn btn-primary">Открыть пост</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1 class="display-5 mt-4 offset-lg-3">Постов нет</h1>
    <a href="/addpost" class="btn btn-primary mt-4 offset-lg-3">Добавить пост</a>
{% endif %}

<a href="/addpost">
    <button class="btn btn-success rounded-pill p-3" type="button" style="position: fixed; right: 5%; bottom: 5%;" href="/addpost">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
    </button>
</a>

{% endblock %}